.logo-title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
}
.logo-div {
    text-align: center;
    background-color: black;
    color: white;
    /*padding-top: 40vh;
    padding-bottom: 0vh;
    filter: drop-shadow(0px 25px 50px #111);*/
}

.espacio {
    background-color: black;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.aperture-title {
    font-size: 4rem;
    font-weight: bold;
}

.aperture-product {
    font-size: 3rem;
    font-weight: bold;
}

.aperture-body {
    font-size: 2rem;
    text-align: justify;
}

.separator {
    border-top: 1px solid #8c8b8b;
	text-align: center;
}